<div class="hgroup">
  <h1>在线汇率转换计算器</h1>
</div>

<p><strong>请在任意栏中填入你想转换的金额。</strong></p>
<div class="card-panel">
  <div class="currency-converter">
    <div class="row">
      <!--panes row-->
      <div class="currency-pane">
        <input class="cp-iso-val" type="hidden" value="EUR" />
        <div class="titles">
          <mat-label class="action right cp-change-from">请选择</mat-label>

          <mat-form-field id="from-select" appearance="fill">
            <mat-label>当前币种</mat-label>
            <mat-select (selectionChange)="selectchange(fromCurrency)" [(value)]="fromCurrency">
              <mat-option
                *ngFor="let currency of currencies | async"
                [value]="currency.iso"
              >
                {{ currency.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span class="cp-ftitle-text">欧元 (EUR)</span>
        </div>

        <div id="from_iso-module" class="input-field">
          <span class="sign prefix cp-sign-text" title="€">€</span>

          <input
            type="text"
            (input)="update($event)"
            [(ngModel)]="fromValue"
            id="value_from"
            class="thin cp-input"
            value="1"
          />

          <div class="cp-exp-tip">Try: 200 + 10%</div>
          <div
            class="cp-foreign-block cp-foreign-text"
            style="display: none"
          ></div>
        </div>
        <div class="cp-warning"></div>
      </div>
      <div class="currency-pane">
        <input class="cp-iso-val" type="hidden" value="USD" />
        <div class="titles">
          <mat-label class="action right cp-change-to">请选择</mat-label>
          <mat-form-field id="to-select" appearance="fill">
            <mat-label>目标币种</mat-label>
            <mat-select  (selectionChange)="selectchange(toCurrency)" [(value)]="toCurrency">
              <mat-option
                *ngFor="let currency of currencies | async"
                [value]="currency.iso"
              >
                {{ currency.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span class="cp-ftitle-text">美元 (USD)</span>
        </div>

        <span class="sign prefix cp-sign-text" title="$">$</span>
        <input type="text" id="value_to" [(ngModel)]="toValue" (input)="to_update($event)" class="thin cp-input" value="1.05" />
        <div class="cp-exp-tip">Or: (10 + 25) * 4 - 5%</div>
        <div
          class="cp-foreign-block cp-foreign-text"
          style="display: none"
        ></div>
      </div>

      <div class="cp-warning"></div>
    </div>
  </div>
  <!--panes row-->
  <div class="center"><a (click)="clearAll()">清空</a></div>
  <div class="progress-div">
    <div class="progress cp-progress"><div class="indeterminate"></div></div>
  </div>
  <div class="row small">
    <!--src, date row -->
    <div class="src-div col s12 m6 l6">
      Source: <span class="value cp-src-ftitle">free currency rates (FCR)</span>
      <a href="javascript:void(0)" class="action cp-change-src">Change</a>
    </div>
    <div class="update-div col s12 m6 l6">
      <time class="cp-src-date" *ngIf="lastUpdate | async" >{{lastUpdate}}</time>
      <a href="javascript:void(0)" class="action right cp-refresh">Refresh</a>
    </div>
  </div>
  <!--src, date row -->
</div>
<router-outlet></router-outlet>
